<div class="accordion-item">
    <h2 class="accordion-header" id='{{ .Get "heading" }}'>
      <button class='accordion-button {{ if eq (.Get "show" | default "false") "false" }}collapsed{{ end }}' type="button" data-bs-toggle="collapse" data-bs-target='#{{ .Get "target" }}' aria-expanded='{{ .Get "show" | default "false" }}' aria-controls='{{ .Get "target" }}'>
        {{ .Get "title" }}
      </button>
    </h2>
    <div id='{{ .Get "target" }}' class='accordion-collapse collapse {{ if eq (.Get "show" | default "false") "true" }}show{{ end }}' aria-labelledby='{{ .Get "heading" }}' data-bs-parent='#{{ .Get "parent" }}'>
      <div class="accordion-body">
        {{ .Inner | markdownify }}
      </div>
    </div>
  </div>
  